h1 {
    font-size: 3rem;
    color: #676767;
    font-weight: 700;
}
h2 {
    font-size: 1.8rem;
    color: #e30613;
}

a {
    color: #e30613;
    text-decoration: none;
}

a:hover,
a:focus {
  color: #98040d;
  text-decoration: underline;
}

#overall h2 {
    border-bottom: 1px solid #fff;
}

#twitter ul {
    list-style: none;
    padding-left: 0;
}

#twitter ul li {
    display: block;
    width: 100%;
}

#twitter ul li time {
    display: block;
    width: 100%;
    background-color: #a7a7a7;
    color: #fff;
    font-size: .8rem;
    padding-left: .5rem;
}

#twitter ul li p{
    padding-left: 1rem;
}

#stats ul {
    list-style: none;
}

#stats ul li {
    display: block;
    float: left;
    margin-left: 1rem;
}

#stats .stat-wheel {
    background-color: #e30613;
    color: #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: -1rem;
}

#stats .stat-wheel-inner {
    width: 100%;
    height: 100%;
    padding: 2rem;
}

#stats .stat {
    font-size: 3rem;
    font-weight: 700;
}

#stats .stat-large {
    margin: 1rem 0 1rem 0;
    font-size: 2rem;
    font-weight: 700;
}

#stats .stat-unit {
    font-size: 1.5rem;
    margin-top: -1rem;
}

.pad {
    padding-left: 2rem;
    padding-right: 2rem;
}

div .dummy {
    height: 0;
    margin: 0;
    padding: 0;
}

div .raised2 {
    margin-top: -2rem;
}

div .full-width {
    width: 100%;
}

div .green {
    background-color: #25ba84;
    color: #fff;
}

div .orange {
    background-color: #f39c12;
    color: #fff;
}

div .red {
    background-color: #e30613;
    color: #fff;
}

.orange a:hover,
.orange a:focus,
.green a:hover,
.orange a:focus,
.red a:hover,
.red a:focus {
  color: #fff;
  text-decoration: underline;
}

.green a,
.orange a,
.red a {
    color: #fff;
    text-decoration: none;
}

div .status {
    border-radius: 2rem;
}

div.status ul {
    padding-left: .5rem;
    list-style: none;
}
